
<div class="card">
    <div class="card-body">
        <button class="btn btn-primary ">asd</button>
        <h1 class="text-center">Hello world</h1>
        <div class="display-1">Hello world</div>

        <div class="text-end">asd</div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <button class="btn btn-primary ">asd</button>
        <h1 class="text-center">Hello world</h1>
        <div class="display-1">Hello world</div>

        <div class="text-end">asd</div>
    </div>
</div>