<h1>Список сторінок</h1>

<p>Будь-який текст</p>

<div class='d-flex flex-wrap'>
  {{#each links}}
    <div class='my-3 mx-3'>
      <a
        href={{link}}
        class='btn btn-primary text-uppercase'
      >{{text}}</a>
    </div>
  {{/each}}
</div>