<div class='col-6 my-3'>
  {{#with data}}
    <div class='form-lable'>{{label}}</div>
    <input
      class='form-control'
      placeholder={{placeholder}}
      value=''
    />
    <span class='form-text'>{{caption}}</span>
  {{/with}}
</div>