
<header class="header">
    {{#with header}}
    <div>
        <h1>{{fullname}}</h1>
    </div>
    <div>
        <b>{{position}}</b>
    </div>
    <br />
    <div><em>{{salary}}</em></div>
    <br />
    <div><address>{{adress}}</address></div>
    <br/>
    {{/with}}
</header>