
    <nav>
        {{> link href="/summary" text="Summary"}}
        {{> link href="/skills" text="Skills"}}
        {{> link href="/education" text="Education"}}
        {{> link href="/works" text="Works"}}
    </nav>
    <hr>
