<section class='alert text-bg-success text-center my-5'>
  {{#with service}}
    <h2 class=''>{{title}}</h2>
    <p>{{description}}</p>
    <a
      href={{buttons.0.link}}
      class='btn btn-primary'
    >{{buttons.0.text}}</a>
  {{/with}}
</section>