<header class='card mt-3'>
  <div class='card-body d-flex justify-content-between'>
    <h1 class='col-9'>{{navigation.Logo}}</h1>
    <nav class='nav col-3'>
      {{#each navigation.links}}
        <a href={{href}} class='nav-link'>{{text}}</a>
      {{/each}}
    </nav>
  </div>

</header>