
<!DOCTYPE html>
<html>

  <head >
    <title>
      Resume
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>
  <body>
        {{> nav}}
        {{> header}}
        {{{body}}}
       {{> footer}}
  </body>
   
</html>



